body{
    background-color: black;
    justify-content: center;
}
    .container-tittle, h1 {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 80px;
}   
.container{
    display: flex;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    padding-top: 20px;
    margin: 30px;
}


.pelicula {
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 30px; 
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    }
    
.container_h2 h2 {
    margin: 20px;
    text-align: center;
}

.info {
    text-align: center;
}

.peli1 {
    color: white;
    font-size: 20px;
    padding-top:110px;
    margin: 30px; 
    width: 20%;
}
.peli1 p, h3{
    text-align: center;
}

.peli1 img {
    display: block;
    margin: 0 auto;
}
.peli1 h2 {
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.peli2 {
    color: white;
    font-size: 20px;
    padding-top:110px;
    margin: 30px; 
    width: 20%;
}
.peli2 p, h3{
    text-align: center;
}
.peli2 img {
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Mediaqueries */

@media (width <= 600px) { /*Celulares*/
    .peli1 {
        width: 100%;
        display: inline-block;
    }
    .peli2{
        padding-top: 100px;
        width: 100%;
        display: inline-block;
    }
    .container {
        width: 70%;
        display: inline-block;
    }
    .container-tittle, h1{
        width: 100%;
        align-items: center;
    }
    img {
        max-width: 80%;
    }
}

@media (601px <= width <= 1199px) { /*Tablets*/
    .peli2 {
        padding-top: 100px;
        width: 40%;
        display: inline-block;
        margin: 9px;
    }
    .peli2 p{
        text-align: center;
        margin: 10px;
    }
    .peli2 p, h3{
        text-align: center;
        margin: 3;
    }
    .peli2, h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .peli1 {
        width: 40%;
        display: inline-block;
        margin: 0;
    }    
    .peli1 p, h3{
        text-align: center;
        margin: 3;
    }
    .container {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .container-h2, h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .container-tittle, h1{
        width: 100%;
    }
    img {
        max-width: 80%;
    }
    
}

@media (1200px <= width <= 1366px) { /*Laptops*/
    .peli2 {
        padding-top: 133px;
        width: 100%;
    }
    .peli1 {
        width: 100%;
    }
    .container {
        width: 98%;
        display: flex;
    }
    .container-tittle{
        width: 100%;
    }
    body{
        align-items: center;
    }
    img {
        max-width: 80%;
    }
}
@media (width >= 1367px) { /*Pantallas grandes*/
    .container-h2, h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .peli2 {
        text-align: center;
        padding-top: 100px;
        width: 100%;
        }
    .peli2 h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .peli1 {
        width: 100%;
    }
    .container {
        width: 98%;
    }
    .container-tittle, h1{
        width: 100%;
    }
    img {
        max-width: 80%;
    }
}
