body{
    background-color: black;
    justify-content: center;
}
    .container-tittle, h1 {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 80px;
}   
.container, p{
    display: flex;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    margin: 30px;
}

.peli1 {
    color: white;
    font-size: 20px;
    padding-top:110px;
    margin: 30px; 
    width: 20%;
}
.peli1 p, h3{
    text-align: center;
}

.peli1 img {
    display: block;
    margin: 0 auto;
}
.peli1 h2 {
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.peli2 {
    color: white;
    font-size: 20px;
    padding-top:110px;
    margin: 30px; 
    width: 20%;
}
.peli2 p, h3{
    text-align: center;
}
.peli2 img {
    display: block;
    margin: 0 auto;
}
