* {
  background: white;
}

.img1 {
    min-height: 200px;
    display: inline-block;
    width: 30%;
}

.img2 {
    min-height: 200px;
    display: inline-block;
    width: 70%;
}

.img3 {
    min-height: 200px;
    display: inline-block;
    width: 70%;
}

.img4 {
    min-height: 200px;
    display: inline-block;
    width: 70%;
}

.h {
    text-align: center;
}

.p {
    color: black;
    text-align: justify;
}

@media (max-width: 640px) {
    .menu {
      background: red;
      width: 100%;
    }

    .content{
      background: green;
      width: 100%;
    }
}

@media (width <= 600px) {
    .page {
      display: block;
    }

    .content{
      width: 100%;
      background: lime;
    }

    .menu{
        width: 100%;
        background: yellow;
      }
}

@media (min-width: 600px) and (max-width: 800px) {
    .menu {
      background: red;
    }
    .content {
        background: pink;
    }
  }